{% extends "base.html" %}
{% block page_title %}HI-Ware: High-End PC Hardware{% endblock %}
{% block foot_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-md-6 mx-5 mt-0">
        <h3>Items in Cart</h3>
        <ul class="list-unstyled border">
            {% for item in cart_items %}
            <li class="media border">
                <img src="{{MEDIA_URL}}{{item.product.images}}" class="mr-3 w-25" alt="product_image" data-toggle="modal"
                    data-target="#modal{{item.product.id}}">
                <div class="media-body my-auto">
                    <h5 class="mt-0 mb-1">{{item.product.brand}} {{item.product.model}}</h5>
                    {{item.product.description}}
                </div>
                <div class="col-3 align-self-end">
                    <h4 class="ml-5">{{item.product.price}} EUR</h4>
                    <form method="POST" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Qty</span>
                            </div>
                            <input type="number" name="quantity" class="form-control text-center"
                                aria-label="quantity_input" aria-describedby="inputGroup-sizing-sm" min="0" max="10"
                                value="{{item.quantity}}">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit" id="button-addon2">Amend</button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="modal{{item.product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <img src="{{MEDIA_URL}}{{item.product.images}}" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col align-self-center ml-5">
            <h3 class="title is-4">Total</h3>
            <h4 class="subtitle is-4"><i class="fas fa-euro-sign"></i>{{ total }}</h4>
            <a href="#" class="button is-warning">Checkout <i class="far fa-arrow-alt-circle-right"></i></a>
        </div>
    </div>
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>
    
        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
    
        <div class="form-group col-md-6">
            {{ order_form }}
        </div>
    
        <div class="form-group col-md-6">
            {{ payment_form }}
        </div>
    
        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
{% endblock %}