{% extends "base.html" %}
{% block page_title %}HI-Ware: Login{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ login_form.username.label_tag }}
        <input
          type="text"
          class="form-control {% if login_form.username.errors %}is-invalid{% endif %}"
          id="id_username"
          name="username"
          value="{{ login_form.username.value|default:'' }}"
          required>
        {% if login_form.username.errors %}
          <div class="invalid-feedback">
        {{ login_form.username.errors }}
          </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ login_form.password.label_tag }}
        <input
          type="password"
          class="form-control {% if login_form.password.errors %}is-invalid{% endif %}"
          id="id_password"
          name="password"
          value="{{ login_form.password.value|default:'' }}" 
          required>
        {% if login_form.password.errors %}
          <div class="invalid-feedback">
        {{ login_form.password.errors }}
          </div>
        {% endif %}
    </div>
    <button class="button is-primary">Login</button>
</form>
<p><a href="#">Reset Password</a></p>
{% endblock %}