{% extends 'base.html' %}
{% block page_title %}HI-Ware: Password Reset{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4 mt-5 pt-5">
        <h2 class="text-center">Password Reset</h2>
        <form method="POST">
            <p class="text-center">
                Please enter your email address
            </p>
            <br>
            <div class="text-center">
                {% csrf_token %}
                {{ form.email }}
            </div>
            <div class="text-center">
                <button class="btn btn-danger">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}