{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>{% block page_title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
            HI <img src="{% static 'img/microchip.svg' %}" alt="processorlogo"> Ware
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav text-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Motherboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Processors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Graphics Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cases</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
        <span class="navbar-text pl-4">
            <a href="{% url 'view_cart' %}">
            <button class="btn btn-outline-light my-2 my-sm-0" type="button">
                <i class="fas fa-dolly fa-lg"></i>
                <span class="badge badge-danger">{{cart_items|length}}</span>
            </button>
        </a>
        </span>
        {% if user.is_authenticated %}
        <span class="navbar-text pl-2">
            <a href="{% url 'logout' %}">
                <button class="btn btn-outline-light my-2 my-sm-0">Logout <i class="fas fa-sign-out-alt fa-lg"></i></button>
            </a>
        </span>
        {% else %}
        <span class="navbar-text pl-2">
            <a href="{% url 'login' %}">
                <button class="btn btn-outline-light my-2 my-sm-0">Login <i class="fas fa-sign-in-alt fa-lg"></i></button>
            </a>
        </span>
        {% endif %}
    </nav>
    {% if messages %}
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-md-5">
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        {% endif %}
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <section class="container-fluid px-0">
        {% block content %}
        {% endblock %}
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>